/*
Global styles (body/html, paragraphs, helper classes, etc)
----------
*/
* {
    box-sizing: border-box;
}

body {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: $default-font-family;
    font-size: $base-font-size;
    text-rendering: optimizeLegibility;
    color: $default-font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    color: $header-color;
    line-height: 1.1em;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: .7em;
}
blockquote {
    /* border-left: 5px solid #A4A9AD; */
    /* color: #A4A9AD; */
    /* padding-left: 20px; */
    text-align: center;
    font-size: 1.1em;
    padding-left: .2em;
    padding-right: .2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    font-family: $header-font-family;
    &:before {
        content: "";
        width: 20%;
        min-width: 100px;
        height: 4px;
        background-color: $primary-color;
        margin: 0 auto;
        display: block;
    }
    @include mq($from: tablet) {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
}
hr {
    border: 0;
    border-top: 1px solid #e2eaf1;
    text-align: center;
}
:not(.highlight) > code {
    color: #EF5B5B;
}


.container {
    lost-center: 770px;
    padding-right: 20px;
    padding-left: 20px;
}
a {
    color: $primary-color;
    transition: .15s;
    &:hover {
        color: $default-font-color;
    }
}
