<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {{ block "title" . }} 
      {{ .Site.Title }} 
    {{ end }}
  </title>
  
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link href="{{ "assets/styles/app.css" | relURL }}" rel="stylesheet">

</head>

<body>
  <main class="main">
    <div class="container">
        <header class="header-inner">
            <a class="header-inner__link--home header-inner__link" href="{{ "/" | relURL }}">{{ .Site.Title }} </a>
        </header>
      {{ block "main" . }}
      {{ end }}
      {{ partial "nav" . }}
    </div>
  </main>
  
  {{ block "footer" . }}
  {{ end }}
  
  {{ partial "scripts" . }}
</body>

</html>