<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {{ block "title" . }} 
      {{ .Site.Title }} 
    {{ end }}
  </title>

  <link href="{{ "assets/styles/app.css" | relURL }}" rel="stylesheet">

</head>

<body>
  <main class="main">
    <div class="container">
      {{ block "main" . }}
      {{ end }}
    </div>
  </main>
  
  {{ block "footer" . }}
  {{ end }}
  
  {{ partial "scripts" . }}
</body>

</html>