.post-listing {
    padding-top: 1.8em;
    &__article {
        lost-utility: clearfix;
        padding-bottom: 1.5em;
        &:last-child {
            padding-bottom: 1em;
        }
    }
    &__title {
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &__link {
        text-decoration: none;
        color: $header-color;
        &:hover {
            text-decoration: underline;
        }
    }
}
